header {
	.search-bars {
		padding-top: 2.4rem;
	}
	.search-bars {
		justify-content: space-between;
	}
	.search {
		z-index: 2;
	}
	i.fa-search {
		margin-right: 2rem;
	}
	span {
		padding-top: 2px;
	}
	h1, p {
		text-align: center;
	}
	h1 {
		margin-top: 3.5rem;
		margin-bottom: 4rem;
	}
	p {
	 margin-bottom: 13rem;
	}
}

