---
name: galelem
url: /galelem
---
<div class="post-element grid-block vertical">
	<img src="http://placehold.it/1200x600" alt="" class='main-image'>
	<div class="grid-block vertical text-info">
		<div class="grid-block vertical main-text">
			<span class='preview'>#design #inspirations</span>
			<p class='message'>
				Good ideas rarely come in bunches. The designer who voluntarily presents his client with a batch of layouts does so not out prolificacy, but out of uncertainty or fear.
			</p>
		</div>
		<div class="grid-block small-info">
			<div class="grid-block meta"><span class='fix'>01 August 2014 &nbsp;/&nbsp;<span class='comments'> 2 Comments</span></span></div>
			<div class="grid-block social-small ">
			  <a href=""><i class='fa fa-envelope'></i></a>
			  <a href=""><i class='fa fa-facebook'></i></a>
			  <a href=""><i class='fa fa-twitter'></i></a>
			</div>   
		</div>
		<hr>
		<div class="grid-block change-page">
			<a href="">previous post</a>
			<a href="">next post</a> 
		</div>
    <div class="grid-block vertical embeded-code">
    	<strong>Embeded Code</strong>
			<pre>&lt;h3>VAGNER HERNANDEZ&lt;/h3>&lt;p class="imgC">&lt;a href="http://elpassion.com/post/97850349571">&lt;img&nbsp;src="http://38.media.tumblr.com/6fd0334606ad04b061abda2d462d3f2ctumblr_nc2n0tAsmp1r46py4o1_1280.jpg" />&lt;/a>&lt;/p>
			</pre>
    </div>

		<div class="grid-block vertical feedback">
			<p><img src="http://placehold.it/25x25" alt=""><span> bj_unoxx </span> reblogged this from<span> constellation</span></p>
			<p><img src="http://placehold.it/25x25" alt=""><span> mike_dosxx</span> reblogged this from<span> constellation</span></p>
			<p><img src="http://placehold.it/25x25" alt=""><span> tre_leparc</span> submitted this to<span> constellation</span></p>
		</div>
	</div>
</div>

